#datebar-wrapper {
  background: #2f2e2e;
  color: white;
  height: 60px;
}
#datebar-logo {
  padding: 20px;
  display: inline-block;
  vertical-align: top;
}
#date-container {
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100% - 60px);
}
#date-container::-webkit-scrollbar {
  display: none;
}
.datebar-date-div {
  display: inline-block;
  width: 40px;
  padding: 10px;
}
