#timeline-wrapper {
  border: 0.5px solid gray;
  overflow-y: scroll;
}
#timeline-wrapper::-webkit-scrollbar {
  display: none;
}
.channel_logo {
  height: 60px;
  border: 0.5px solid gray;
  background: #2f2e2e;
}
#channel_details {
  display: inline-block;
  background-color: yellow;
  width: 60px;
  border: 0.5px solid gray;
  float: left;
  margin-top:39px;
}
.channel-image {
  background-color: #2f2e2e;
  height: 50px;
  width: 50px;
  padding: 5px;
}
.show-details-div {
  padding: 4px 0px;
  height: 52px;
  color: white;
  background: black;
  display: inline-block;
  border: 0.5px solid gray;
}
#show-timings-wrapper {
  border-left:1px solid grey;
  display: inline-block;
  width: calc(100% - 65px);
  background: #2f2e2e;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  float: left;
}
.show-inner-div {
  width: 5000px;
  background: #2f2e2e;
  overflow: hidden;
  position: relative;
}
#show-timings-wrapper::-webkit-scrollbar {
  display: none;
}
#current-indicator {
  border: 1px solid #f4b342;
  width: 0px;
  height: 100%;
  position: absolute;
  top: 1px;
  z-index: 1000;
}
.show-times {
  font-size: 7px;
  color: #a1a4a8;
}
.show-desc, .show-times{
    padding-left: 12px;
    font-size:10px;
}
.dataNotFound{
  color: white;
  text-align: center;
}
