#header-wrapper {
  background: black;
  color: white;
  display: flex;
  height: 60px;
  vertical-align: middle;
}
#usericon {
  text-align: left;
}
#logo {
  text-align: center;
  padding-top: 10px;
}
#search {
  text-align: right;
}
.header-icon-class {
  flex-direction: row;
  flex: 1;
  padding: 20px;
}
.nm-logo{
  height: 45px;
  width: 45px;
}
