#footer-wrapper {
  background: black;
  color: white;
  display: flex;
  height: 60px;
  width: 100%;
}
.footer-icon-class {
  flex-direction: row;
  flex: 1;
  padding: 20px;
  text-align: center;
}
