.container{
    box-sizing: border-box; 
    background-color: black;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen";
    font-size : 15px;
}
  